* {
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.container .section {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    background-blend-mode: multiply;
    overflow: auto;
}

.container .section:nth-child(1) {
    background: rgb(153, 153, 153) url(./img/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(2) {
    /* background: rgb(255, 255, 255) url(./img/bg2.jpg); */
    background: rgb(255, 255, 255) url(./img/bg3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(3) {
    /* background: rgb(255, 255, 255) url(./img/bg3.jpg); */
    background: rgb(255, 255, 255) url(./img/bg4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(4) {
    background: rgb(255, 255, 255) url(./img/bg4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container .section .content {
    position: absolute;
    top: 50px;
    left: 100px;
    width: -webkit-fill-available;
}

.foot_textbox {
    position: absolute;
    color: #fff;
    font-size: 2em;
    text-align: center;
    left: 10%;
    right: 10%;
    bottom: 10%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    animation: bubbleAni 3s infinite ease-out;
}

@keyframes bubbleAni {
    0% {
        transform: translate(0%, -30%);
    }
    50% {
        transform: translate(0%, -100%);
    }
    100% {
        transform: translate(0%, -30%);
    }
}

.title h2 {
    font-family: 'Nanum Brush Script', cursive;
    background: #fff;
    color: #111;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 3em;
}

.title p {
    font-family: 'Poor Story', cursive;
    background: rgba(0, 0, 0, 0.363);
    backdrop-filter: saturate(180%) blur(20px);
    color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 10px 20px;
    font-size: 1.7em;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.container .section .content p2 {
    color: rgb(224, 224, 224);
    font-size: 0.8em;
    line-height: 2;
}

.container2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    margin-right: 50px;
    margin-bottom: 40px;
    /* padding: 50px; */
}


/* 옛날 프로젝트들은 초기에는 숨겨진 상태로 설정 */

.card {
    position: relative;
    width: 340px;
    height: 100px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgb(236, 66, 255);
    transition: 0.3s ease-in-out;
}

.oldProjectElement {
    box-shadow: 0 0 20px rgba(0, 255, 251, 1);
}

.oldProject {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.card:hover {
    width: 340px;
    height: 500px;
}

.card .imgBx {
    position: relative;
    width: 100%;
    height: 140%;
    top: -60px;
    left: 0px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card .imgBx img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.card .content2 {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover .content2 {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.1s
}

.icon {
    position: absolute;
    filter: invert();
    top: 120px;
    left: 20px;
}

.icon svg {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}

.icon button {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.btn-gradient {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #FFC300, #FF5733);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btn-gradient:hover {
    background-image: linear-gradient(to right, #C70039, #900C3F);
}